/* HERO */
.hero {
  display: flex;
  flex-direction: column;
}

.main-h {
  font-size: 3.5rem;
  padding-bottom: 2rem;
  margin: 0;
}

.books-added {
  display: flex;
  border: 3.5px solid;
  flex-direction: column;
  display: none;
}

.books-added > *:nth-child(even) {
    background-color: lightgray;
}

.books {
  display: flex;
  justify-content: space-between;
  margin: 2px;
}

.title-author {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.books p {
  margin: 0;
  font-size: 2.2rem;
}

.remove-btn {
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 6rem;
  border-radius: 5px;
}

.add-btn {
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 6rem;
  display: block;
}

.end-line {
  margin-top: 18px;
  border: 1px solid;
  color: #ccc;
  display: none;
}

/* ADD BOOKS */
.add-section {
  margin-top: 3rem;
}

.add-section input {
  width: 9rem;
  padding: 0.5rem;
  text-align: center;
}

.add-books {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
