

/* HERO */
.main-h {
  font-size: 3.5rem;
  padding-bottom: 2rem;
  margin: 0;
}

.books-added p {
    margin: 0;
  font-size: 2.5rem;
}

.remove-btn {
    font-size: 1.5rem;
    padding: .5rem;
    width: 6rem;
}

.add-btn {
    font-size: 1.5rem;
    padding: .5rem;
    width: 6rem;
    display: block;
}

.end-line {
    margin-top: 18px;
    border: 1px solid;
    color: #ccc;
}


/* ADD BOOKS */
.books {
    margin-top: 3rem;
}

.books input {
    width: 9rem;
    padding: .5rem;
    text-align: center;
}

.add-books {
    display: flex;
    flex-direction: column;
    gap: 20px;
}